@page "/details/{ProductId:int}"
@using BlazingShop.Data
@using BlazingShop.Services

@inherits OwningComponentBase<ProductService>

<br />
<h2 class="text-info">@(ShowAppointment ? "Book Appointment" : "Book Details")</h2>
@if (ShowAppointment)
{
    <BlazingShop.Pages.Components.AppointmentComponent 
        appointment="appointment"
        OnClickShowDetails="OnClickShowDetails"
    >

    </BlazingShop.Pages.Components.AppointmentComponent>
}
else
{
    <BlazingShop.Pages.Components.DetailsComponent 
        OnClickShowAppointment="OnClickShowAppointment" 
        appointment="appointment"
    >

    </BlazingShop.Pages.Components.DetailsComponent>
}

@code {
    [Parameter]
    public int ProductId { get; set; }

    public Appointment appointment { get; set; }
    bool ShowAppointment = false;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        appointment = new Appointment()
        {
            AppointmentDate = DateTime.Now
        };

        appointment.Product = Service.GetProduct(ProductId);
    }

    void OnClickShowAppointment()
    {
        ShowAppointment = true;
    }

    void OnClickShowDetails()
    {
        ShowAppointment = false;
    }
}
