@page "/"

@using BlazingShop.Services
@using BlazingShop.Data
@inherits OwningComponentBase<ProductService>

<div class="row">
    @foreach(var prod in listProduct)
    {
        <BlazingShop.Pages.Components.IndividualProduct product="prod">

        </BlazingShop.Pages.Components.IndividualProduct>
    }
</div>

@code{
    List<Product> listProduct = new List<Product>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        listProduct = Service.GetProducts();
    }
}